black==24.8.0
click==8.1.7
fake-rpi==0.7.1
mypy-extensions==1.0.0
numpy==1.26.4
opencv-contrib-python==4.10.0.84
packaging==24.1
pandas==2.1.2
pathspec==0.12.1
Pillow==10.1.0
platformdirs==4.3.6
pygame==2.6.1
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.16.0
tomli==2.0.2
typing_extensions==4.12.2
tzdata==2024.2
